<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MMTHZP7665"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-MMTHZP7665');
    </script>
    <title>Page Title</title>
</head>
    <!-- Google tag (gtag.js) -->
<body>
    <img src="https://raw.githubusercontent.com/rndae/custom-bulk-emailer/1ee8f8841eb796318d04d5020a6cd0582cc6ec03/1x1_verify.gif?utm_source=cigartv&utm_medium=email&utm_campaign=outreach&utm_id=email-read" width="1" height="1" alt="">
</body>
</html>
